.btn-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__icon {
    width: 44px;
    height: 44px;
    &-open {
      opacity: 1;
    }
    &-close {
      opacity: 0;
    }
  }
}

.btn-menu.is-active .btn-menu__icon-open {
  opacity: 0;
}

.btn-menu.is-active .btn-menu__icon-close {
  opacity: 1;
}
