.button__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border: 0;
    padding: 0;
    margin-top: 8px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-light-txt);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        cursor: pointer;
        fill: var(--accent-dark-txt);
    }
}

.hero__button {
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--accent-dark-txt);
    background-color: var(--accent-dark-txt);
    color: var(--primary-light-txt);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
        color: var(--primary-light-txt);
    }
}



.button {
    padding: 6px 22px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background-color: var(--secondary-light-bg);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: var(--accent-dark-txt);
        color: var(--primary-light-txt);
    }
}

.button__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.button__item {
    margin-right: 8px;

    &:last-child {
    margin: 0;
    }
}



