.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
      height: 60px;
    }

    @media screen and (min-width: 768px) {
      max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }
}

.logo__span {
  color: var(--primary-dark-txt);
}

.logo__link {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-dark-txt);

  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-right: 276px;
    font-size: 24px;
    line-height: 1.167;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.167;
    padding: 0;
  }
}

.nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 50px;

    &:last-child {
      margin: 0;
    }
  }

  &__links {
    padding-top: 32px;
    padding-bottom: 32px;

    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-dark-txt);
  }

  &__active {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--accent-dark-txt);

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;

      display: block;
      background-color: var(--accent-dark-txt);
      border-radius: 2px;
    }
  }
}
